.main-head {
  display: flex;
  padding: 100px 250px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(84, 124, 136);
  img {
    height: 600px;
    margin-top: 2rem;
    padding-top: 10px;
    background-color: rgb(29, 29, 126);
    border-radius: 1550px;
    box-shadow: 2px 2px 8px black;
  }
  .tags {
    font-size: 25px;
    h1 {
      line-height: 20px;
      font-size: 6rem;
    }
    h2 {
      font-size: 4rem;
    }
    .btn {
      background-color: rgb(71, 36, 116);
      color: white;
      padding: 1rem;
      border: none;
    }
    .btn:hover {
      transform: scale(1.2);
      cursor: pointer;
      background-color: cornflowerblue;
      border-radius: 25px;
      transition: 0.3s;
    }
  }
}
