.main-head {
    display: flex;
    padding: 0px 250px;
    align-items: center;
    justify-content: space-around;
    img {
        height: 600px;
        padding-top: 50px;

    }
    .tags {
        font-size: 25px;
        h1 {
            line-height: 20px;
            font-size: 6rem;
        }
        h2 {
            font-size: 4rem;
        }
        .btn {
            background-color: coral;
            color: white;
            padding: 0.5rem;
            border: none;
        }
        
    }
    
}

.btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 20px;
    transition: 0.3s;
}


