li {
    list-style: none;
    margin: 1rem 16px;
    gap: 60px;
    
}
.head {
    display: flex;
    padding: 0px 250px;
    margin-top: 0px;
    justify-content: space-between;
    
    
    
    
}
.lines ul {
    display: flex;
    
    
}
.logo {
    font-size: 16px;
    margin-top: 2rem;
    
}
.icon {
    
    margin-top: 2rem;
}
.lines {
    margin: 0px ;
}
.nav {
    display: flex;
}